<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/reset-password}" method="post" th:object="${resetPassword}">
	<label>Password: </label>
	<input type="password" th:field="*{password}" />
	<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect Password</span><br/>
	<label>Confirmed Password: </label>
	<input type="password" th:field="*{confirmedPassword}" />
	<th:block th:each="errMsg, errStatus: ${#fields.errors('confirmedPassword')}">
		<th:block th:text="!${errStatus.last} ? ${errMsg} + ', ': ${errMsg} + '.'"></th:block>
	</th:block>
	<br/>
	<input type="hidden" id="resetPasswordToken" th:value="${token}" />
	<input type="submit" value="Reset Password" />
</form>
</body>
</html>